.blog-company{
    margin-top: 82px;
    margin-bottom: 70px;
    .blog-company__description__main{
        padding: 0px 300px;
        text-align: center;
        font-family: "raleway-wt";
        .blog-company__main-title{
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            color: #333333;
            text-transform: uppercase;
        }
        p{
            padding-top: 25px;
            color: #999999;
            font-weight: 400;
            font-size: 15px;
            line-height: 170%;
        }
    }
    .main__blog{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 3fr));
        grid-gap: 20px;
        .item__blog{
            border: 1px solid #EEEEEE;
            box-sizing: border-box;
            border-radius: 0px 5px;
    .image__blog{
        border-radius: 0px 5px;
        position: relative;
        img{
            width: 100%;
            height: 210px;
        }
        .date__item-blog{
            position: absolute;
            top: 14px;
            left: 20px;
            color: #fff;
            background-color: $accent;
            border-radius: 0px 5px;
            padding: 4px 10px 5px;
            font-family: 'roboto-wt';
            font-weight: 700;
            font-size: 15px;
            line-height: 10px;
            text-transform: uppercase;
        }
    }
    .title__blog-item{
        color: #333;
        font-family: 'raleway-wt';
        font-weight: 800;
        font-size: 18px;
        line-height: 140%;
        text-transform: uppercase;
        padding-top: 23px;
        padding-left: 15px;
        padding-bottom: 17px;
        position: relative;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 14px;
            height: 42px;
            width: 3px;
            background-color: $accent;
        }
    }
    .description__blog{
    font-family: 'raleway-wt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    }
    .full__story{
    padding-top: 13px;
    color: #333;
    font-family: 'raleway-wt';
    text-decoration-line: underline;
    font-weight: 800;
    font-size: 15px;
    line-height: 170%;
    cursor: pointer;
    }
  }
}
    .pagination{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font-family: $userfont;
        font-size: 15px;
        .btn__pagination{
            outline: none;
            border: none;
            background-color: unset;
            transition: .3s;
            position: relative;
            &:hover{
                 text-decoration-line: underline;
                 color: $accent;
            }
        }
        .number__pagination{
            margin: 0 5px;
            a{
            text-decoration: none;
            color: #C4C4C4;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            transition: .5s;
            padding: 15px;
            &:hover{
                    color: #fff;
                    background-color: $accent;
             }
            }
        }
    }
}

 
@media(max-width: 991px){
    .blog-company .main__blog .item__blog .image__blog img{
        height: 100%;
    }
    .blog-company .blog-company__description__main{
        padding: 15px 0px;
    }
}

@media(max-width: 405px){
    .blog-company .main__blog{
        grid-template-columns: repeat(auto-fit, minmax(260px, 3fr));
    }
    .blog-company .pagination .number__pagination{
        margin: 0;
    }
    .blog-company .pagination .number__pagination a{
        padding: 12px;
    }
}