.description-project {
    margin-top: 55px;
    font-family: $userfont;

    .description-project__main-title {
        color: $text;
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        padding-bottom: 50px;
    }

    .description-project__content {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            color: $text;
            padding: 40px 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .description-project__excerpt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 21px;

        .description-project__title__excerpt {
            color: $text;
            font-size: 16px;
            line-height: 18px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 800;
            font-family: "raleway-wt";
            padding: 30px 0;
            display: flex;
            justify-content: center;
        }


    }

    .description-project__about-architect {
        .description-project__title-name {
            margin-top: 25px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            font-weight: 800;
            font-family: "raleway-wt";
        }

        p {
            max-width: 286px;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .description-project__info-list {
        p {
            .attribute {
                &:after {
                    content: "...............................................";
                }
            }
        }
    }
}

.container__description {
    display: flex;
    flex-direction: row;
}

@media(max-width: 1020px) {
    .container__description {
        flex-direction: column-reverse;
    }

    .container__description .col-md-4 {
        width: 100%;
    }

    .description-project .description-project__about-architect p {
        max-width: 100%;
    }

    .container__description .col-md-8 {
        width: 100%;
    }
}