footer{
    background-color: $deep;
    padding-bottom: 73px;
    .left__side-footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 35px;
        margin-top: 74px;
        .logo__link{
            color: rgba(255, 255, 255, 0.7);
            i{
                border: 2px solid rgba(255, 255, 255, 0.7);
            }
        }
        .about__us-text{
            padding-top: 40px;
          .title__aboutUs-footer{
            color: #fff;
            font-family: "raleway-wt";
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
          }
          p{
            padding-top: 20px;
            color: rgba(255, 255, 255, 0.7);
          }
        }  
       .menu__footer{
        font-family: "raleway-wt";
        .title__aboutUs-footer{
            color: #fff;
            font-family: "raleway-wt";
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            &:after{
                content: "";
                background-color: $accent;
                width: 25px;
                height: 3px;
                display: block;
                position: relative;
                top: 20px;
                border-radius: 0px 5px;
            }
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            padding-top: 27px;
            li{
                padding-top: 17px;
            }
            a{
            color: rgba(255, 255, 255, 0.7);
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            transition: ease-out .3s;
            letter-spacing: .8px;
            &:hover{
                color: $accent;
                text-decoration-line: underline;
             }
          }
        }
       }
    }
    .right__side-footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 35px;
        margin-top: 74px;
        .services__footer{
            .title__aboutUs-footer{
                color: #fff;
                font-family: "raleway-wt";
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
                &:after{
                    content: "";
                    background-color: $accent;
                    width: 25px;
                    height: 3px;
                    display: block;
                    position: relative;
                    top: 20px;
                    border-radius: 0px 5px;
                }
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                padding-top: 27px;
                li{
                    padding-top: 17px;
                }
                a{
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                transition: ease-out .3s;
                letter-spacing: .8px;
                &:hover{
                    color: $accent;
                    text-decoration-line: underline;
                 }
              }
            }
        }
        .social__networks{
            .title__aboutUs-footer{
                color: #fff;
                font-family: "raleway-wt";
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
    
            }
            p{
                padding-top: 42px;
                color: rgba(255, 255, 255, 0.7);
            }
            .nav__social-footer{
                display: inline-block;
                margin-top: 22px;
                .nav-social__item{
                border: 1px solid rgba(255, 255, 255, 0.25);
                padding: 11px;
                box-sizing: border-box;
                border-radius: 0px 5px;
                transition: ease-in-out .5s;
                margin-right: 6px;
                    img{
                       max-height: 15.9px;
                    }
                    &:hover{
                      background-color: $accent;
                    }

                }
            }
        }
    }
}

@media(max-width: 768px){
    footer .left__side-footer .menu__footer{
        text-align: center;
    }
    footer .left__side-footer .menu__footer .title__aboutUs-footer:after{
        margin: auto;
    }
    .services__footer{
        text-align: center;
    }
    footer .right__side-footer .services__footer .title__aboutUs-footer:after{
        margin: auto;
    }
}

@media(max-width: 599px){
    footer .left__side-footer{
        grid-template-columns: 1fr;
    }
    .about__us-footer{
      margin: 0 70px;
    }
    footer .left__side-footer .about__us-text .title__aboutUs-footer{
        display: flex;
        justify-content: center;
    }
    footer .left__side-footer .about__us-text p{
        text-align: center;
    }
    .left__side-footer .logo{
       text-align: center;
    }
    footer .right__side-footer{
        grid-template-columns: 1fr;
    }
    .social__networks{
        margin: 0 70px;
    }
    footer .right__side-footer .social__networks .title__aboutUs-footer{
        display: flex;
        justify-content: center;
    }
    footer .right__side-footer .social__networks p{
        text-align: center;
    }
    footer .nav__social-footer{
        display: flex !important;
        justify-content: center;
    }
}

.up{
    position: fixed;
    right: 27px;
    bottom: 25px;
    z-index: 999;
    display: none;
}