.footer {
    background-color: $deep;
    padding-bottom: 73px;

    .footer__left-side {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 35px;
        margin-top: 74px;

        .logo__link {
            color: rgba(255, 255, 255, 0.7);

            i {
                border: 2px solid rgba(255, 255, 255, 0.7);
            }
        }

        .footer__text-about-us {
            padding-top: 40px;

            .footer__title-about-us {
                color: #fff;
                font-family: $userfont;
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
            }

            p {
                padding-top: 20px;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .footer-menu {
            font-family: $userfont;

            .footer__title-about-us {
                color: #fff;
                font-family: $userfont;
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;

                &:after {
                    content: "";
                    background-color: $accent;
                    width: 25px;
                    height: 3px;
                    display: block;
                    position: relative;
                    top: 20px;
                    border-radius: 0px 5px;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                padding-top: 27px;

                li {
                    padding-top: 17px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    transition: ease-out .3s;
                    letter-spacing: .8px;

                    &:hover {
                        color: $accent;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }

    .footer__right-side {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 35px;
        margin-top: 74px;

        .footer-services {
            .footer__title-about-us {
                color: #fff;
                font-family: $userfont;
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;

                &:after {
                    content: "";
                    background-color: $accent;
                    width: 25px;
                    height: 3px;
                    display: block;
                    position: relative;
                    top: 20px;
                    border-radius: 0px 5px;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                padding-top: 27px;

                li {
                    padding-top: 17px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    transition: ease-out .3s;
                    letter-spacing: .8px;
                    font-family: $userfont;

                    &:hover {
                        color: $accent;
                        text-decoration-line: underline;
                    }
                }
            }
        }

        .footer__social-networks {
            .footer__title-about-us {
                color: #fff;
                font-family: "raleway-wt";
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;

            }

            p {
                padding-top: 42px;
                color: rgba(255, 255, 255, 0.7);
            }

            .footer__nav-social {
                // display: inline-block;
                margin-top: 22px;

                .footer__nav-social-item {
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    padding: 11px;
                    box-sizing: border-box;
                    border-radius: 0px 5px;
                    transition: ease-in-out .5s;
                    margin-right: 6px;


                    img {
                        max-height: 15.9px;
                        width: 100%;
                        max-height: 16.5px;
                        max-width: 20px;
                        opacity: 0.75;

                        transition: opacity 0.25s ease-out;
                    }

                    &:hover {
                        background-color: $accent;
                    }

                }
            }
        }
    }
}

@media(max-width: 768px) {
    .footer .footer__left-side .footer-menu {
        text-align: center;
    }

    footer .footer__left-side .footer-menu .footer__title-about-us:after {
        margin: auto;
    }

    .footer-services {
        text-align: center;
    }

    .footer .footer__right-side .footer-services .footer__title-about-us:after {
        margin: auto;
    }
}

@media(max-width: 599px) {
    .footer .footer__left-side {
        grid-template-columns: 1fr;
    }

    .footer-about-us {
        margin: 0 70px;
    }

    footer .footer__left-side .footer__text-about-us .footer__title-about-us {
        display: flex;
        justify-content: center;
    }

    .footer .footer__left-side .footer__text-about-us p {
        text-align: center;
    }

    .footer__left-side .logo {
        text-align: center;
    }

    .footer .footer__right-side {
        grid-template-columns: 1fr;
    }

    .footer__social-networks {
        margin: 0 70px;
    }

    .footer .footer__right-side .footer__social-networks .footer__title-about-us {
        display: flex;
        justify-content: center;
    }

    .footer .footer__right-side .footer__social-networks p {
        text-align: center;
    }

    .footer .footer__nav-social-item {
        display: flex !important;
        justify-content: center;
    }

    .footer .footer__right-side .footer__social-networks .footer__nav-social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.up {
    position: fixed;
    right: 27px;
    bottom: 25px;
    z-index: 999;
    display: none;
}

@media(max-width: 410px) {
    .footer .footer__right-side .footer__social-networks .footer__title-about-us {
        text-align: center;
    }
}