
.navbar{
	position: absolute;
	top: 0;
	z-index: 1000;
	padding: 43px 0 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	left: 50px;
	right: 50px;
}
.logo{
	font-size: 17px;
	white-space: nowrap;
	line-height: 1.2;
}
.logo__link{
    color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .75px;
	text-decoration: none;
}
.logo__link span {
	display: block;
	font-size: 12px;
	text-transform: none;
	font-weight: 300;
	letter-spacing: 3.4px;
	opacity: 0.45;
	margin-left: 22px;
}
.logo__link i {
	width: 15px;
	height: 15px;
	position: relative;
	border: 2px solid $accent;
	display: inline-block;
	border-radius: $radius-style;
	margin-right: 7px;
}

.logo__link:hover, .logo__link:focus, .logo__link:active{
	color: #fff;
}
.top-menu{
	margin: 0;
	padding: 0;
	text-align: center;
}
.top-menu__item{
	margin: 0 5px;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
.top-menu__link{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 7.5px 16px;
	border-radius: $radius-style;
	transition: background $transition;
}
.top-menu__link:hover,
.top-menu__link:focus,
span.top-menu__link{
	color: #fff;
	background-color:rgba(196, 196, 196, 0.2);
}
.menu-container{
	position: relative;
}
.menu-toggle{
	width: 22px;
	height: 22px;
	background-image: url('../images/interface/menu-white.svg');
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	right: 0;
	display: none;
}
.menu-toggle_active{
	background-image: url('../images/interface/x.svg');
}
.top-menu.top-menu_active{
	visibility: visible;
	opacity: 1;
	transition: opacity var(--transition, visibility, --transition);
}

.nav-social-wrap {
 text-align: right;
}
.nav-social{
	background-color: rgba(196, 196, 196, 0.2);
	border-radius: 10em;
	display: inline-block;
	padding: 2px 12.5px 3px;
}
.nav-social__item{
	display: inline-block;
	margin: 0 2.5px;
}
.nav-social__item img{
   width: 100%;
   max-height: 16.5px;
   max-width: 20px;
   opacity: 0.75;
   transition: opacity $transition;
}
.nav-social__item:hover img{
	opacity: 1;
 }
 .navbar-white .menu-toggle{
	background-image: url('../images/interface/menu-dark.svg');
}



 @media (max-width : 992px) {
    .top-menu{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        background-color: $dark;
        right: 35px;
        top: -7px;
        background-repeat: $radius;
        overflow: hidden;
    }
    .top-menu__item{
        display: block;
    }
    .top-menu__link{
        display: block;
        text-align: left;
        padding: 14px 35px;
        border-bottom: 1px solid rgba(255, 255, 255, .05);
        color: rgba(255, 255, 255, .5);
        border-radius: 0;
        line-height: 1.6;
        font-size: 12px;
        text-transform: uppercase;
    }
    .top-menu__link:hover,
    .top-menu__link:focus,
    span.top-menu__link{
        color: rgba(255, 255, 255, .75);
        background-color: rgba(196, 196, 196, 0.05);
    }
    .menu-toggle{
        display: block;
    }
	.navbar-white .top-menu__link {
		color: #fff !important;
	}
}
 @media (max-width : 1200px) {
    .top-menu__item{
        margin: 0;
    }
    .top-menu__link{
        padding: 7.5px 15px;
     }
     .home-callback__list > * {
         width: 49%;
     }
}