.our__blog {
margin-top: 82px;
.main__title-blog{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 29px;
line-height: 34px;
text-align: center;
padding-bottom: 45px; 
}

.slider__blog-home{
    display: flex;     
    overflow: hidden;
    margin-right: auto;
    .slider__blog{
      width: 100%;
      position: relative;
      display: inline-block;
      max-width: 835px;
    }
    .swiper-wrapper{    
      box-sizing: border-box;
      width: 100%;   
      .item__slider-blog{
        border: 1px solid #EEEEEE;
box-sizing: border-box;
border-radius: 0px 5px;
        .image__blog{
          border-radius: 0px 5px;
          position: relative;
          img{
            width: 100%;
          }
          .date__item-blog{
            position: absolute;
            top: 14px;
            left: 20px;
            color: #fff;
            background-color: $accent;
            border-radius: 0px 5px;
            padding: 4px 10px 5px;
            font-family: 'roboto-wt';
            // font-family: 'roboto-wt', Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 15px;
            line-height: 10px;
            text-transform: uppercase;
          }
        }
        .title__blog-item{
          color: $text ;
          font-family: 'raleway-wt';
          font-weight: 800;
          font-size: 18px;
          line-height: 140%;
          text-transform: uppercase;
          padding-top: 23px;
          padding-left: 15px;
          padding-bottom: 17px;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 14px;
            height: 42px;
            width: 3px;
            background-color: $accent;
          }
        }
        .description__blog{
          font-family: 'raleway-wt';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 170%;
        }
        .full__story{
          padding-top: 13px;
          color:  $text ;
          font-family: 'raleway-wt';
          text-decoration-line: underline;
          font-weight: 800;
          font-size: 15px;
          line-height: 170%;
          cursor: pointer;
        }
      }
    }
    .blog-slider__pagination{
      text-align: right;
    }
} 
.all__posts{
  text-align: right;
  height: 410px;
  width: 310px;
  position: relative;
  margin-left: auto;
  .see__all-posts {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 170px 0;
    text-decoration-line: underline;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    cursor: pointer;
  } 

}

}