.our-blog {
  margin-top: 82px;
  margin-bottom: 70px;

  .our-blog-main__title {
    font-family: $userfont;
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 45px;
  }

  .our-blog__slider-home {
    display: flex;
    overflow: hidden;
    margin-right: auto;

    .our-blog__slider-blog {
      width: 100%;
      position: relative;
      display: inline-block;
      max-width: 835px;
    }

    .swiper-wrapper {
      box-sizing: border-box;
      width: 100%;

      .our-blog__item {
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 0px 5px;

        .our-blog__image {
          border-radius: 0px 5px;
          position: relative;

          img {
            width: 100%;
          }

          .our-blog__date {
            position: absolute;
            top: 14px;
            left: 20px;
            color: #fff;
            background-color: $accent;
            border-radius: 0px 5px;
            padding: 4px 10px 5px;
            font-family: $userfont;
            font-weight: 700;
            font-size: 15px;
            line-height: 10px;
            text-transform: uppercase;
          }
        }

        .our-blog__blog-item {
          color: $text ;
          font-family: $userfont;
          font-weight: 800;
          font-size: 18px;
          line-height: 140%;
          text-transform: uppercase;
          padding-top: 23px;
          padding-left: 15px;
          padding-bottom: 17px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 14px;
            height: 42px;
            width: 3px;
            background-color: $accent;
          }
        }

        .our-blog__description {
          font-family: 'raleway-wt';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 170%;
        }

        .our-blog__full-story {
          padding-top: 13px;
          color: $text ;
          font-family: 'raleway-wt';
          text-decoration-line: underline;
          font-weight: 800;
          font-size: 15px;
          line-height: 170%;
          cursor: pointer;
        }
      }
    }

    .our-blog__bottom-pagination {
      margin-top: 45px;

      .our-blog__pagination {
        text-align: right;
        padding-right: 133px;

        .swiper-pagination-bullet-active {
          background-color: $accent;
          border-radius: 0px 5px;
          width: 25px;
          height: 5px;
        }

        .swiper-pagination-bullet {
          // background-color: $light-disabled;
          border-radius: 0px 5px;
          width: 25px;
          height: 5px;
        }
      }
    }
  }

  .our-blog__all-posts {
    text-align: right;
    height: 410px;
    width: 310px;
    position: relative;
    margin-left: auto;

    .our-blog__see-all {
      position: absolute;
      right: 0;
      left: 0;
      text-align: center;
      padding: 170px 0;
      text-decoration-line: underline;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      cursor: pointer;
      color: $text;
    }
  }
}

.our-blog__image-adaptive {
  display: none;
}

@media(max-width: 991px) {
  .our-blog .our-blog__slider-home {
    width: 100%;
  }

  .our__blog .our-blog__slider-home .our-blog__bottom-pagination .our-blog__pagination swiper-pagination {
    text-align: center;
    padding-right: unset;
  }

  .our-blog__all-posts {
    background-image: unset !important;
  }

  .our-blog__image-adaptive {
    display: block;
    position: absolute;
    right: 0;
    left: 180px;

    .our-blog-all-posts-adaptive {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      text-align: center;
      padding: 170px 112px;
      text-decoration-line: underline;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      cursor: pointer;
      white-space: nowrap;
      color: #333;
    }
  }

  .our-blog__see-all {
    display: none;
  }
}

@media(max-width: 768px) {
  .our-blog .our-blog__all-posts {
    width: 100%;
    text-align: center;
  }

  .our-blog__image-adaptive {
    left: 0;
  }
}