.our-services{
    margin-top: 70px;
    .text__our-services{
        text-align: center;
        margin: 0 auto;
        padding: 0 281px;
        h1{
            padding-bottom: 40px;
            font-family: $userfont;
            text-align: center;
            margin: 0 auto;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .row{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 2fr));
        grid-gap: 20px;
        .item__service{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E4E6E8;
            box-sizing: border-box;
            margin: 0 20px;
            position: relative;
            &:hover::after{
                content: "";
                background-color: $accent;
                width: 3px;
                height: 30px;
                display: block;
                position: absolute;
                left: 0;
            }
        }
        .item__img{
            text-align: right;
            flex: 1;
        }
        .item__text{
            flex: 1;
            padding: 38px 30px;
            text-align: left;
            .title{
                font-family: $userfont;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 18px;
                line-height: 21px;
                transition: .3s;
               cursor: pointer;
                &:hover{
                    color: $accent;
                    text-decoration-line: underline;
                }
            }
            p {
                padding-top: 15px;
                margin: unset;
            }
          
        }
    }
    .load__more{
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 14px;
        line-height: 145%;
        width: 200px;
        height: 44px;
        border: 1px solid transparent;
        outline: none;
        cursor: pointer;
        margin-bottom: 50px;
        transition: .3s;

    }
}

@media(max-width: 991px){
    .our-services .text__our-services{
        padding: 0;
    }
}

@media(max-width: 768px) {
    .our-services .row{
        grid-template-columns: repeat(auto-fill, minmax(510px, 2fr));
    }
    .our-services .row .item__service{
        margin: 0;
    }
    .our-services .row .item__text{
        padding: 0;
    }
}

@media(max-width: 555px){
    .our-services .row .item__service {
        margin: 0 auto;
        flex-direction: column;
    }
    .our-services .row .item__text{
        text-align: center;
    }
    .our-services .row {
        grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
    }
}