.our-services{
    margin-top: 70px;
    .text__our-services{
        text-align: center;
        margin: 0 auto;
        padding: 0 281px;
        h1{
            padding-bottom: 40px;
        }
    }
}