::placeholder { color: #666; }
::selection { background-color: $accent; color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: $userfont;
	font-size: $regular-text;
	line-height: $lineheight;
	color: $text;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}  
::-webkit-scrollbar{
	width: 5px;
	height: 8px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb{
	border-radius: 9em;
	background-color: $accent;
}