// .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { 
// 	--bs-gutter-x: .625rem; 
// }
// .row, .row > * { 
// 	--bs-gutter-x: 1.25rem;
//  }

/* FONTS LOAD SECTION */


/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: $accent; color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: $userfont;
	font-size: $regular-text;
	line-height: $lineheight;
	color: $text;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}  