$text: #333;
$dark: #202328;
$deep: #171A1A;
$dark-div: #2D3038;
$dark-header: #6F7A8B;
$address: #989DA5;
$small-text:14px;;
$gutter: 20px;
$light-bg: #FAFAFA;
$light-div: #E7E7E8;
$accent: #F88500;
$radius-style: 0 5px;
$radius: 5px;
$transition: .25s ease-out;
$accent-light:  #ff8d09;
$accent-dark: #f38506;
$light-disabled: #E4E6E8;
$userfont: raleway-wt, sans-serif, Arial;
$regular-text: 16px;
$lineheight: 1.75;
$deep: #171A1A;
