// :root {
// 	--accent: #F88500;

// 	--accent-light: #ff8d09;
// 	--accent-dark: #f38506;
   
// 	--gutter: 20px;
// 	--text: #333;
// 	--dark: #202328;
// 	--deep: #171A1A;
// 	--dark-header: #6F7A8B;
// 	--dark-div: #2D3038;
// 	--light-bg: #FAFAFA;
// 	--light-disabled: #E4E6E8;
// 	--light-div: #E7E7E8;
// 	--middle-gray: rgba(111, 122, 139, 0.75);
// 	--text-light: #999999;
// 	--regular-text: 16px;
// 	--small-text: 14px;
// 	--lineheight: 1.75;
// 	--userfont: raleway-wt, sans-serif;
// 	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
// 	--radius: 5px;
// 	--radius-style: 0 5px;
// 	--transition: .25s ease-out;
// 	--address: #989DA5;
// }
    
$text: #333;
$dark: #202328;
$deep: #171A1A;
$dark-div: #2D3038;
$dark-header: #6F7A8B;
$address: #989DA5;
$small-text:14px;;
$gutter: 20px;
$light-bg: #FAFAFA;
$light-div: #E7E7E8;
$accent: #F88500;
$radius-style: 0 5px;
$radius: 5px;
$transition: .25s ease-out;
$accent-light:  #ff8d09;
$accent-dark: #f38506;
$light-disabled: #E4E6E8;
$userfont: raleway-wt, sans-serif;
$regular-text: 16px;
$lineheight: 1.75;
$deep: #171A1A;
